{%load top_tags%}
<html>
<head>
<title>Настройки - top.kmrov.ru</title>
<script src="/static/js/jquery-1.4.js" type="text/javascript"></script>
<script src="/static/js/main.js" type="text/javascript"></script>
<style type="text/css">
input.openid {
  background: url(/static/pix/openid-16x16.gif) no-repeat; 
  background-position: 0 50%;
  padding-left: 16px;
}
a img { border: none; }
div.panel { position:absolute;
            top:10px;
            right:5px; }
a { font-size:12pt;
    color:#000033;}
body, td, th { font-size:12pt;
               font-family:Serif,Times,Times New Roman;
               background-color:white
               color:black}
</style>
</head>
<body>
<a href="/">
    <img src="/static/pix/logo.png">
</a>
<div class="panel">
<img src="/static/pix/openid-16x16.gif"><a href="{{openid}}">{{openid|clean_url}}</a> <a href="/openid/signout/">Выйти</a><br>
<a href="/">С фильтрами</a> <a href="/nofilters/">Без фильтров</a>
</div>

<h3>Исключенные посты:</h3>
<table cellspacing="16">
{%for entry in entries%}
    <tr>
    <td>
    <a href="#" onclick="return_post('{{entry.link}}'); return false;"><img src="/static/pix/return.png"></a>
    <a href="{{entry.link}}">{{entry.title}}</a>
    {%if entry.get_cache.txt%}<br>{{entry.get_cache.txt|cut_entry|safe}}{%endif%}<br>
    <div>
        <a href="{{entry.author}}"><img src="{{entry.get_author.icon.url}}">{{entry.get_author.name}}</a>
    </div>
    </td>
    </tr>
{%empty%}
    <div style="margin-left:16px">Вы пока ничего не удалили.</div>
{%endfor%}
</table>

<h3>Исключенные авторы:</h3>
<table style="margin-left:16px">
{%for ex in ex_author%}
    <tr>
    <td><a href="#" onclick="return_author('{{ex.link}}'); return false;"><img src="/static/pix/return.png"></a></td>
    <td><a href="{{ex.link}}"><img src="{{ex.icon.url}}">{{ex.name}}</a></td>
    </tr>
{%empty%}
    <div style="margin-left:16px">Вы пока никого не удалили.</div>{%endfor%}
</table>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13033531-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();
</script>
</body>
</html>
